<div class="container mt-3 " style="min-height: 100vh;">
    <a class="btn btn-dark" href="#" routerLink="/user">Back</a>
    <h1>Edit User</h1>

    <div class="card bg-dark">
        <div class="card-body">
            <h2 class="card-title text-center">Edit User fields</h2>
            <form [formGroup]="formUser" (ngSubmit)="editUser()">
                <div class="form-group mb-3">
                    <label for="title">Title</label>
                    <input type="text" id="title" formControlName="title" class="form-control" placeholder="Add Title">
                    <div *ngIf="validFields('title')" class="text-center">
                        <span class="btn btn-outline-danger m-2">Invalid Field</span>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="body">Body</label>
                    <textarea type="text" id="body" formControlName="body" class="form-control" placeholder="Add Body">
                </textarea>
                    <div *ngIf="validFields('body')" class="text-center">
                        <span class="btn btn-outline-danger m-2">Invalid Field</span>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!formUser.valid">Submit</button>
            </form>
        </div>
    </div>
</div>